@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    font-family: 'Lato', sans-serif;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    max-width: 1140px;
    width: 100%;

}

.main_content {
    width: 100%;
    max-width: 2560px;
    margin: 0 auto;
}

//header

.header_main {
    width: 100%;
    max-width: 2560px;
    margin: 0 auto;
    background: #222222;

    &_img {
        height: 26px;
        width: 100%;
    }

    &_nav {
        height: 20px;
        width: 100%;
    }
}

.navigation {
    padding: 20px 0 20px 0;
    display: flex;
    justify-content: space-between;

    &_left {
        list-style: none;
        display: flex;
        align-items: center;

        a {
            display: inline-block;
            margin-right: 41px;

            img {
                height: 32px;
                width: 100%
            }
        }
    }

    &_right {
        list-style: none;
        display: flex;
        align-items: center;

        :last-child {
            margin: 0;
        }

        li {
            display: block;
            align-self: center;
            margin-right: 33px;

            a {
                text-decoration: none;

                & svg {
                    height: 26px;
                    fill: #ffffff;
                }

                &:hover svg {
                    fill: #f16d7f;
                }
            }
        }
    }
}

//кнопка поиск

.search_icon {
    width: 32px;
    height: 32px;
    position: relative;

    & input {
        width: 20px;
        min-height: 20px;
        padding: 5px;
        outline: none;
        box-sizing: border-box;
        background-color: transparent;
        border: none;
        color: #fff;
        font-size: 16px;
        text-transform: capitalize;
        position: absolute;
        left: 48px;

        &:focus {
            width: 232px;
            transition: width 1s ease;
            border: 2px solid white;
        }
    }

    & label {
        display: block;
        width: 100%;
        height: 100%;

        & svg {
            fill: white;
            height: 29px;
        }

        &:hover svg {
            fill: #F16D7F;
        }

        &:focus~label>svg {
            fill: #F16D7F;
        }
    }
}

// кнопка меню

#menu {}

input[type="checkbox"] {
    display: none;
}

#menu:checked~ul {
    visibility: visible;
}

.main_menu_list {
    height: 764px;
    visibility: hidden;
    width: 100px;
    min-height: 100px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #fff;
    list-style: none;
    position: absolute;
    top: 75px;
    right: 0;
    z-index: 2;

    & a {
        text-decoration: none;
        color: #000;
    }
}

.main_menu {
    & svg {
        fill: white;
    }

    &:hover svg {
        fill: #F16D7F;
    }

    &_list {
        width: 232px;
        padding-left: 33px;

        & li {
            display: flex;
            flex-direction: column;
        }

        &_title a {
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
            color: #000000;
            text-transform: uppercase;
            margin-top: 37px;
        }

        &_sub {
            li {
                margin-bottom: 12px;
            }

            li a {
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: #6F6E6E;
            }

            &_title {
                margin-top: 20px;
                margin-bottom: 12px;
            }

            &_title a {
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: #F16D7F;
                text-transform: uppercase;
            }
        }
    }
}

//main

.logo {
    max-width: 2560px;
    margin: 0 auto;
    margin-bottom: 65px;
    background: #F1E4E6;

    &_main {
        height: 764px;
        display: flex;
        justify-content: space-between;

        &_img {
            width: 50%;
            background-image: url(../img/man_in_jacket.png);
            background-repeat: no-repeat;
            background-position-x: center;
        }
    }
}

.brand {
    width: 50%;
    text-transform: uppercase;
    margin: 0 0 0 90px;
    position: relative;
    align-self: center;

    ::before {
        content: "";
        display: block;
        width: 12px;
        height: 92px;
        background-color: #f16d7f;
        position: absolute;
        top: 5px;
        left: -28px;
    }

    &_title {
        font-weight: 900;
        font-size: 48px;
        line-height: 58px;
    }

    &_subtitle {
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;

        span {
            color: #f16d7f;
        }
    }
}

.stock {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &_txt {
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        text-transform: uppercase;
        text-align: center;

        span {
            font-weight: 400;
            font-size: 24px;
            line-height: 28px;
            color: #F16D7F;
        }
    }

    &_daily_1,
    &_daily_2,
    &_daily_3,
    &_daily_4 {
        width: 360px;
        height: 260px;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;

        &:hover {
            filter: brightness(75%);
            transform: scale(1.1);
        }
    }

    &_daily_1 {
        background-image: url(../img/stock_1.png);
    }

    &_daily_2 {
        background-image: url(../img/stock_2.png);
    }

    &_daily_3 {
        background-image: url(../img/stock_3.png);
    }

    &_daily_4 {
        margin-top: 30px;
        width: 1140px;
        height: 180px;
        background-image: url(../img/stock_4.png);
    }
}

.announcement {
    margin-top: 96px;
    margin-bottom: 48px;
    text-align: center;

    &_title {
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
        color: #222222;
        margin-bottom: 6px;
    }

    &_txt {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #9F9F9F;
    }
}

.offers_all {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.offers {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style-type: none;

    &_list {
        margin-bottom: 30px;
    }

    &_link {
        display: block;
        text-decoration: none;
        transition: 250ms ease;

        &:hover img {
            filter: brightness(35%);
        }
    }

    .offers_link:hover .offers_card_button {
        display: flex;
    }

    &_card {
        background: #F8F8F8;
        width: 360px;
        padding-bottom: 20px;
        position: relative;

        &_img {
            width: 360px;
            height: 420px;
        }

        &_title {
            font-weight: 400;
            font-size: 13px;
            line-height: 16px;
            color: #000000;
            text-transform: uppercase;
            margin: 26px 0 13px 18px;
        }

        &_txt {
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            color: #5D5D5D;
            margin: 0 0 18px 18px;
        }

        &_cost {
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #F16D7F;
            margin: 0 0 0px 18px;
        }

        &_button {
            display: none;
            align-items: center;
            padding: 12px;
            border: 1px solid #FFFFFF;
            background-color: transparent;
            cursor: pointer;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #FFFFFF;
            position: absolute;
            left: 110px;
            top: 188px;

            &:hover {
                background-color: transparent;
            }

            &:active {
                background-color: #E05C6E;
            }

            & svg {
                display: block;
                height: 24px;
                fill: white;
                padding-right: 12px;
            }
        }
    }
}

.browse {
    display: flex;
    justify-content: center;
    margin-top: 18px;

    &_button {
        border: 1px solid #FF6A6A;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #F26376;
        padding: 14px 38px;
        text-decoration: none;
        display: inline-block;
        background-color: #FFFFFF;
        transition: 250ms ease;

        &:hover {
            background-color: #F26376;
            color: #FFFFFF;
        }

        &:active {
            background-color: #FFFFFF;
            color: #F26376;
        }
    }
}

.conditions {
    background: #222224;
    padding: 104px 0 104px 0;
    max-width: 2560px;
    margin: 0 auto;
    margin-top: 96px;

    &_all {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
    }

    &_part {
        width: 360px;
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    &_title {
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #FBFBFB;
        margin: 25px 0 16px 0;
    }

    &_txt {
        font-family: lato light;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #FBFBFB;
        width: 85%;
        align-self: center;
    }

    & svg {
        align-self: center;
        height: 34px;
        fill: #F16D7F;
    }
}

//footer

.footer_main {
    max-width: 2560px;
    margin: 0 auto;

    &_top {
        background-size: cover;
        background-image: url(../img/footer_subscribe.jpg);
        background-repeat: no-repeat;
        background-position: center;
        height: 448px;
        display: flex;
        justify-content: space-between;

        &_all {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

.avatar {
    max-height: 448px;
    width: 50%;
    display: flex;
    flex-direction: column;

    &_image {
        width: 96px;
        align-self: center;
        margin-bottom: 40px;
    }

    &_txt {
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #222224;
        width: 60%;
        align-self: center;
    }
}

.subscribe {
    max-height: 448px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &_txt {
        text-transform: uppercase;
        font-size: 24px;
        line-height: 40px;
        text-align: center;
        color: #222224;
    }

    &_form {
        display: flex;
        width: 75%;
        align-items: center;
    }

    &_input {
        padding-left: 22px;
        height: 49px;
        width: 75%;
        margin-top: 32px;
        background: #E1E1E1;
        outline: none;
        border-width: 0;
        border-radius: 24px 0 0 24px;

        &::placeholder {
            font-size: 14px;
            line-height: 17px;
            color: #222224;
            opacity: 0.67;
        }
    }

    &_button {
        height: 49px;
        width: 25%;
        margin-top: 32px;
        background: #F16D7F;
        outline: none;
        border-width: 0;
        border-radius: 0px 24px 24px 0;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
        text-align: center;
        transition: 250ms ease;
        cursor: pointer;

        &:hover {
            background: #E05C6E;
        }

        &:active {
            background: white;
            outline: 1px solid #E05C6E;
            color: #E05C6E;
        }
    }
}

.footer_main_bottom {
    background: #222224;

    &_all {
        display: flex;
        justify-content: space-between;
        padding: 24px 0 24px 0;
    }
}

.copyrights {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
    align-self: center;
}

.socials {
    list-style: none;
    display: flex;

    :last-child {
        margin-right: 0;
    }

    &_media {
        display: flex;
        width: 32px;
        height: 32px;
        margin-right: 8px;
        background-color: #FFFFFF;
        transition: 250ms ease;

        & a svg {
            fill: black;
        }
    }

    & :hover {
        background-color: #F16D7F;
    }

    & :hover a svg {
        fill: white;
    }

    & :active {
        background-color: #E05C6E;
    }

    & :active a svg {
        fill: white;
    }
}

// страница catalog

.catalog {
    max-width: 2560px;
    margin: 0 auto;
    background: #F8F3F4;

    &_all {
        display: flex;
        justify-content: space-between;
        padding: 60px 0 60px 0;
    }

    &_name {
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: #F16D7F;
        text-transform: uppercase;
    }

    &_breadcrumb {
        list-style: none;

        &:last-child {
            color: #F16D7F;
            text-transform: uppercase;
            font-weight: 700;
        }

        li {
            display: inline;
            margin-right: 4px;

            a {
                font-weight: 300;
                font-size: 14px;
                line-height: 17px;
                color: #636363;
                text-decoration: none;
                text-transform: uppercase;
            }
        }
    }
}

.filters {
    display: flex;
    justify-content: space-between;
    padding: 50px 0 64px 0;
    position: relative;
    z-index: 2;
    align-items: center;

    &_left {
        list-style-type: none;
        width: 360px;
        margin: 0 30px 0 16px;

        li {
            ::after {
                content: url(img/filter.svg);
                margin-left: 11px;
                max-height: 17px;
            }

            a {
                text-decoration: none;
                font-weight: 600;
                font-size: 14px;
                line-height: 17px;
                color: #000000;
                text-transform: uppercase;
            }
        }
    }

    &_right {
        display: flex;
        justify-content: flex-start;
        list-style-type: none;
        width: 750px;
        align-items: center;

        li {
            margin: 0 48px 0 0;

            a {
                text-decoration: none;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: #6F6E6E;
                text-transform: uppercase;
            }
        }
    }
}

// filter
input:focus,
button:focus {}

input:focus-visible,
button:focus-visible {}

#switch-filter {
    display: none;
}

#switch-filter:checked~.filter-list {
    display: block;
}



.filter {
    position: relative;
    width: 360px;
    box-sizing: border-box;
    // background: #FFFFFF;
    // box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.filter-btn {
    display: block;
    width: 100%;
    padding: 0;
    background-color: transparent;
    border: none;
    color: #000000;
    text-align: left;
}

.filter-btn span {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16.8px;
    text-transform: uppercase;
}

.filter-btn svg {
    margin: 0 0 0 11px;
    fill: currentColor;
}

.filter-btn:hover {
    color: #F16D7F;
}

.filter-btn:active {
    color: #222224;
}

.filter-list {
    width: 100%;
    position: absolute;
    top: 50px;
    left: 0;
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #ffffff;

}

.filter-list-item {
    width: 100%;
    margin: 0 0 18px 0;
    padding: 11px;
    box-sizing: border-box;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16.8px;
    position: relative;
}

.filter-list-item-link {
    display: block;
    text-transform: uppercase;
    color: #EF5B70;
    text-decoration: none;
}

.filter-list-item-link::before {
    content: "";
    display: block;
    width: 5px;
    height: 37px;
    background-color: #EF5B70;
    position: absolute;
    top: -1px;
    left: 0;
    z-index: 2;
}

.filter-list-item-link::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #ebebeb;
    position: absolute;
    top: 35px;
    left: 0px;
    z-index: 1;
}

.filter-list-item-link:hover {
    color: red;
}

.filter-list-item-link:active {
    color: pink;
}

.filter-sublist {
    margin: 24px 0 0 0;
    padding: 0 0 0 7px;
    box-sizing: border-box;
    list-style: none;
}

.filter-sublist-item {
    margin: 0 0 11px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16.8px;
}

.filter-sublist-item:last-child {
    margin: 0 0 24px 0;
}

.filter-sublist-item a {
    color: #6f6e6e;
    text-decoration: none;
}

.filter-sublist-item:hover a {
    color: #ef5b70;
}

.filter-sublist-item:active a {
    color: #000;
}

// size

.list_size {
    border: none;
    background-color: transparent;
    position: relative;

    input:focus,
    button:focus {}

    input:focus-visible,
    button:focus-visible {}

    &_btn_title {
        display: block;
        width: 100%;
        border: none;
        font-size: 14px;
        line-height: 17px;
        font-weight: 400;
        color: #6F6E6E;
        background-color: transparent;
        text-align: left;
        text-transform: uppercase;
        position: relative;

        &:hover {
            color: #F16D7F;
        }

        &:hover svg {
            fill: currentColor;
        }

        &:active {
            color: black;
        }

        &:active svg {
            fill: currentColor;
        }
    }

    & svg {
        fill: #6F6E6E;
        position: absolute;
        top: 40%;
        right: -20px;
    }
}

#switch {
    display: none;
}

#switch:checked~.list_size_wrp {
    display: flex;
}

.list_size_wrp {
    display: none;
    flex-direction: column;
    margin: 5px 0 0 0;
    padding: 9.5px 9.5px 9.5px 31px;
    box-sizing: border-box;
    background-color: #fff;
    position: absolute;
}

.list-size-item {
    display: none;
}

.list-size-item:nth-child(1):checked~.list-size-item-title:nth-child(2):before,
.list-size-item:nth-child(3):checked~.list-size-item-title:nth-child(4):before,
.list-size-item:nth-child(5):checked~.list-size-item-title:nth-child(6):before,
.list-size-item:nth-child(7):checked~.list-size-item-title:nth-child(8):before {
    background-image: url(../img/registration_check.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.list-size-item-title {
    display: block;
    margin: 0 0 6px 0;
    position: relative;
    text-transform: uppercase;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16.41px;
    color: #6F6E6E;
}

.list-size-item-title:before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border: 1px solid #EBEBEB;
    position: absolute;
    top: 1px;
    left: -23.5px;
}

.pagination_block {
    text-align: center;
    margin-top: 18px;
    margin-bottom: 96px;
}

.pagination {
    display: inline-flex;
    vertical-align: middle;
    list-style-type: none;
    padding: 12px 40px 12px 40px;
    border: 1px solid #EBEBEB;

    :last-child {
        margin: 0;
    }

    li {
        margin: 0 20px 0 0;
        text-decoration: none;

        button {
            border: none;
            background-color: transparent;
            vertical-align: middle;

            & svg {
                fill: black;
            }

            &:hover svg {
                fill: #F16D7F;
            }
        }

        a {
            text-decoration: none;
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            color: #6F6E6E;

            &:hover {
                color: #F16D7F;
            }
        }
    }
}

// страница product 

.carousel {
    height: 777px;
    background: #F7F7F7;
    width: 100%;
    max-width: 2560px;
    margin: 0 auto;

    &_all {
        padding-top: 11px;
        text-align: center;
        position: relative;
    }

    &_button_left {
        display: block;
        height: 47px;
        width: 47px;
        border: none;
        background: rgba(42, 42, 42, 0.15);
        position: absolute;
        top: 365px;
        left: 0;

        &:hover svg {
            fill: #F16D7F;
        }

        &:active svg {
            fill: #E05C6E;
        }

        & svg {
            fill: #000000;
        }
    }

    &_button_right {
        display: block;
        height: 47px;
        width: 47px;
        border: none;
        background: rgba(42, 42, 42, 0.15);
        position: absolute;
        top: 365px;
        right: 0;

        &:hover svg {
            fill: #F16D7F;
        }

        &:active svg {
            fill: #E05C6E;
        }

        & svg {
            fill: #000000;
        }
    }
}

.product {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: -40px;
    margin-bottom: 128px;
    padding: 64px 0 64px 0;
    background-color: #FFFFFF;
    border: 1px solid #EAEAEA;
    position: relative;

    &_margin {
        height: 98px;
    }

    &_info {
        &_title {
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            color: #F16D7F;
            text-transform: uppercase;

            &::before {
                content: "";
                display: block;
                width: 63px;
                height: 4px;
                background-color: #EF5B70;
                position: absolute;
                top: 94px;
                left: 538px;
            }
        }

        &_title_add {
            font-weight: 300;
            font-size: 18px;
            line-height: 22px;
            color: #4D4D4D;
            text-transform: uppercase;
            margin-top: 27px;
        }

        &_txt {
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            color: #5E5E5E;
            width: 50%;
            margin: 48px auto;
        }

        &_cost {
            font-weight: 300;
            font-size: 24px;
            line-height: 29px;
            color: #EF5B70;
            margin-top: 32px;
            margin-bottom: 64px;
        }
    }

    &_cart {
        display: flex;
        justify-content: center;

        &_button {
            display: block;
            align-items: center;
            padding: 14px 38px;
            border: 1px solid #FF6A6A;
            background-color: transparent;
            cursor: pointer;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #F26376;

            &:hover {
                background-color: #F26376;
                color: #FFF;

                svg {
                    fill: #FFF;
                }
            }

            & svg {
                fill: #F26376;
                height: 24px;
                padding-right: 22px;
                vertical-align: middle;
            }
        }
    }
}

.product_navigation {
    &_filter {
        display: flex;
        justify-content: center;
        list-style-type: none;
        margin-top: 64px;
        margin-bottom: 48px;

        :last-child {
            margin-right: 0;
        }

        & li {
            margin-right: 42px;
        }
    }
}

hr {
    width: 50%;
    margin: 0 auto;
    color: #EAEAEA;
}

// страница cart

.selected {
    display: flex;
    margin-top: 96px;

    &_items {
        display: flex;
        box-shadow: 0 10px 20px 5px #6F6E6E;
        margin-bottom: 40px;
        position: relative;

        &_img {
            width: 262px;
            height: 306px;
        }

        &_title {
            font-weight: 400;
            font-size: 24px;
            line-height: 29px;
            color: #222222;
            text-transform: uppercase;
            margin: 22px 97px 42px 31px;
            width: 50%;
        }

        &_txt {
            font-weight: 400;
            font-size: 22px;
            line-height: 26px;
            color: #575757;
            margin-left: 31px;
            margin-bottom: 6px;

            & span {
                color: #F26376;
            }

            & button {
                margin-left: 40px;
                padding: 1px 15px;
                border: 1px solid #EAEAEA;
                background-color: #fff;
                font-weight: 400;
                font-size: 18px;
                line-height: 22px;
                color: #656565;
            }
        }
    }

    &_close {
        position: absolute;
        background-color: transparent;
        border: none;
        top: 28px;
        right: 22px;

        & svg {
            fill: #575757;
        }

        &:hover svg {
            fill: #F16D7F;
        }


    }

    &_choose {
        display: flex;
        justify-content: space-between;
        margin-top: 72px;

        & button {
            padding: 16px 40px;
            background-color: #fff;
            border: 1px solid #A4A4A4;
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            color: #000000;
            text-transform: uppercase;
            cursor: pointer;

            &:hover {
                background-color: #F26376;
                color: #FFF;

            }
        }
    }

    &_left {
        width: 60%;
        margin-right: 120px;
    }

    &_right {
        width: 30%;

        & form {
            display: flex;
            flex-direction: column;
        }

        &_title {
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            color: #222222;
            text-transform: uppercase;
            margin-bottom: 20px;
        }

        &_label {}

        &_input {

            padding: 12px 12px;
            margin-bottom: 21px;
            border: 1px solid #A4A4A4;

            &::placeholder {
                font-weight: 300;
                font-size: 13px;
                line-height: 16px;
                color: #B1B1B1;
            }
        }

        &_button {
            background-color: #fff;
            border: 1px solid #A4A4A4;
            padding: 10px 10px;
            width: 100px;
            font-weight: 300;
            font-size: 11px;
            line-height: 13px;
            color: #4A4A4A;
            text-transform: uppercase;
            cursor: pointer;

            &:hover {
                background-color: #F26376;
                color: #FFF;

            }
        }

        &_check {
            height: 214px;
            background: #F5F3F3;
            margin-top: 57px;
            text-align: center;

            & hr {
                background: #E2E2E2;
                width: 80%;
                margin-top: 21px;
                margin-bottom: 17px;
            }

            &_title {
                font-weight: 400;
                font-size: 11px;
                line-height: 13px;
                color: #4A4A4A;
                text-transform: uppercase;
                padding: 39px 34px 12px 34px;
                text-align: right;

                & span {
                    padding-left: 20px;
                }
            }

            &_subtitle {
                font-weight: 300;
                font-size: 16px;
                line-height: 19px;
                color: #222222;
                text-transform: uppercase;
                padding: 0 34px 0 34px;
                text-align: right;

                & span {
                    padding-left: 20px;
                    color: #F16D7F;
                }
            }

            &_button {
                padding: 15px 41px;
                background-color: #F16D7F;
                font-weight: 300;
                font-size: 16px;
                line-height: 19px;
                color: #FFFFFF;
                text-transform: uppercase;
                border: none;
                cursor: pointer;
                width: 80%;
                align-self: center;

                &:hover {
                    background-color: #FFF;
                    color: #F16D7F;
                    outline: 1px solid #F16D7F;
                }
            }
        }
    }
}

// страница registration


.registration {
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
    margin-bottom: 96px;

    &_left {
        width: 50%;

        &_title {
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            color: #222222;
        }

        &_input {
            width: 360px;
            padding: 13px 0 16px 16px;
            border: 1px solid #A4A4A4;
            margin-top: 20px;

            &::placeholder {
                font-weight: 300;
                font-size: 13px;
                line-height: 16px;
                color: #B1B1B1;
            }
        }

        &_radio {
            margin-top: 32px;
            margin-bottom: 32px;
            vertical-align: middle;

            &_label {
                font-weight: 300;
                font-size: 11px;
                line-height: 13px;
                color: #000000;
                margin-left: 10px;
                margin-right: 20px;
            }
        }

        &_txt {
            font-weight: 300;
            font-size: 13px;
            line-height: 16px;
            color: #B1B1B1;
            margin-top: 16px;
            width: 360px;
        }

        &_button {
            border: 1px solid #F16D7F;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #FFF;
            padding: 14px 38px;
            text-decoration: none;
            display: inline-block;
            background-color: #F16D7F;
            margin-top: 39px;
            text-transform: uppercase;
            cursor: pointer;

            & svg {
                fill: #FFF;
                padding-left: 20px;
            }

            &:hover {
                background-color: #FFF;
                color: #F16D7F;

                svg {
                    fill: #F16D7F;
                }
            }
        }
    }

    &_right {
        width: 50%;

        & :first-child {
            text-transform: uppercase;
        }

        &_title {
            font-weight: 300;
            font-size: 24px;
            line-height: 29px;
            color: #000000;
            margin-bottom: 22px;
        }

        &_txt {
            font-weight: 300;
            font-size: 24px;
            line-height: 29px;
            color: #000000;
            margin-bottom: 16px;

            & svg {
                fill: black;
                padding-right: 20px;
            }
        }
    }
}